# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/build/
/secrets.yaml
__pycache__/
*.py[cod]
/COMPLIANCE.md
/COMPLIANCE.en.md
/AUDIT.md
/GITHUB_PUBLISH.md
